.cards {
  display: flex;
}

.card-container {
  padding: 24px;
  width: 400px;
}

.card-white {
  background-color: white;
  border-radius: 4px;
  padding: 8px;
}

.card-image {
  height: 240px;
}

.card-footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.card-footer img {
  margin-right: 8px;
}

.card-image a {
  opacity: 0;
}

.card-white:hover .card-image a {
  opacity: 1;
  transition: 1s;
}